.button-float{
    z-index: 2;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    width: 3.5rem;
    height: 3.5rem;
}

.chat-float{
    z-index: 2;
    position: fixed;
    bottom: 6.5rem;
    right: 2.5rem;
    width: 22.2rem;
    height: 27.5rem;

}

.text-date{
    font-size: 0.8rem;
}

.faMessage {
    font-size: 1.3rem;
}

.scroll{
    overflow: auto;
}

.fa-chat{
    font-size: 0.8rem;
    margin-right: 5px;
}