
@media (max-width: 992px) {

    .footer-height{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-height{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (min-width: 992px) {

    .footer-height{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}