

<div class="container-fluid mt-4">
    <h2 class="text-center">{{projectSelected.name_project}}</h2>
    <p class="text-center fs-5">{{projectSelected.description_project}}</p>
    <div [ngClass]="projectSelected.state_project=='1'?'bg-primary' : 'bg-success'" class="m-auto p-2 text-white text-center fs-5 w-25 ">{{projectSelected.state_project=='1'? 'Proyecto en progreso':'Projecto finalizado'}}</div>
    <button [ngStyle]="{visibility: userSe.id_role == 1 && projectSelected.state_project == '1'?'visible':'hidden'}" class="btn btn-light border-dark my-2" (click)="showModal()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Crear tarea</button>
    <button [ngStyle]="{visibility:todo.length == 0 && doing.length == 0 && done.length > 0 && projectSelected.state_project == '1'?'visible':'hidden'}" class="btn btn-light border-dark my-2 float-end me-4" (click)="finishProject(projectSelected.id_project)">Finalizar proyecto</button>

  
    <div class="row align-items-start container-table">
      <div class="col-12 col-sm-12 col-md-4">
        <div class="card border-secondary mb-3">
          <div class="card-header badge bg-secondary fs-5 text-center">Por hacer</div>
          <div *ngIf="todo.length==0" class="card-body text-center">
            No hay tareas por hacer
          </div>
          <div class="card-body" *ngIf="todo.length>0">
            <div *ngFor="let taskTodo of todo" class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">{{taskTodo.name_task}}</h5>
              </div>           
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h6 class="card-subtitle mb-2 badge bg-secondary">{{taskTodo.name_user }} {{taskTodo.lastname_user }}</h6>
                  <h6 *ngIf="taskTodo.priority_task == '1'" class="card-subtitle mb-2 badge float-end bg-success">Baja</h6>
                  <h6 *ngIf="taskTodo.priority_task == '2'" class="card-subtitle mb-2 badge float-end bg-warning">Media</h6>
                  <h6 *ngIf="taskTodo.priority_task == '3'" class="card-subtitle mb-2 badge float-end bg-danger">Alta</h6>
                </div>
                
                <p class="card-text">{{taskTodo.description_task}}</p>
                <p class="card-text">{{taskTodo.end_date_task | date:'dd/MM/yy HH:mm'}}</p>
                <hr>
                <label class="fw-bold">Subtareas</label>
                <ul class="list-group list-group-flush" *ngIf="taskTodo.subtasks.length > 0">
                    <li class="text-break list-group-item" *ngFor="let subtask of taskTodo.subtasks">
                          {{subtask.name_subtask}}
                    </li>  
                  </ul>
                <p *ngIf="taskTodo.subtasks.length ==0">No hay subtareas creadas</p>

                <button class="btn btn-primary" [disabled]="userSe.id_role == 2 && userSe.id_user != taskTodo.id_user" (click)="updateStateTask(taskTodo.id_task,'2')">Hacer tarea <fa-icon [icon]="faRightFromBracket"></fa-icon></button>
              </div>
              <div class="card-footer">
                <label for="progress">Progreso</label>
                <div class="progress" style="height: 20px;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': taskTodo.progress+'%'}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  <label class="fw-bold mx-1">{{taskTodo.progress}}%</label>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="card border-primary">
          <div class="card-header badge bg-primary fs-5 text-center">Haciendo</div>
          <div *ngIf="doing.length==0" class="card-body text-center">
            No hay tareas por hacer
          </div>
          <div class="card-body mb-3" *ngIf="doing.length>0">
            <div *ngFor="let taskDoing of doing" class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">{{taskDoing.name_task}}</h5>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h6 class="card-subtitle mb-2 badge bg-secondary">{{taskDoing.name_user }} {{taskDoing.lastname_user }}</h6>
                  <h6 *ngIf="taskDoing.priority_task == '1'" class="card-subtitle mb-2 badge float-end bg-success">Baja</h6>
                  <h6 *ngIf="taskDoing.priority_task == '2'" class="card-subtitle mb-2 badge float-end bg-warning">Media</h6>
                  <h6 *ngIf="taskDoing.priority_task == '3'" class="card-subtitle mb-2 badge float-end bg-danger">Alta</h6>
                </div>
                <p class="card-text">{{taskDoing.description_task}}</p>
                <p class="card-text">{{taskDoing.end_date_task | date:'dd/MM/yy HH:mm'}}</p>
                <hr>
                <label class="fw-bold">Subtareas</label>
                <ul class="list-group list-group-flush" *ngIf="taskDoing.subtasks.length > 0">
                    <li class="text-break list-group-item" *ngFor="let subtask of taskDoing.subtasks">
                      <div class="form-check" >
                        <input class="form-check-input" [disabled]="subtask.state_subtask || userSe.id_user != taskDoing.id_user" [checked]="subtask.state_subtask" (change)="doSubTask(subtask.id_subtask,$event)" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{subtask.name_subtask}}
                        </label>
                      </div>
                    </li>  
                  </ul>
                <p *ngIf="taskDoing.subtasks.length ==0">No hay subtareas creadas</p>
                <div class="d-flex justify-content-between">
                  <button [disabled]="userSe.id_role == 2 && userSe.id_user != taskDoing.id_user"  *ngIf="taskDoing.state_task == '2'" class="btn btn-success" (click)="updateStateTask(taskDoing.id_task,'3')">Terminar tarea <fa-icon [icon]="faRightFromBracket"></fa-icon></button>
                  <button [disabled]="userSe.id_role == 2" *ngIf="taskDoing.state_task == '3'" class="btn btn-outline-success" (click)="updateStateTask(taskDoing.id_task,'4')">Por aprobar <fa-icon [icon]="faRightFromBracket"></fa-icon></button>
                  <button [disabled]="userSe.id_role == 2" *ngIf="taskDoing.state_task == '3'" class="btn btn-outline-danger" (click)="updateStateTask(taskDoing.id_task,'2')">Por rechazar <fa-icon [icon]="faArrowLeft"></fa-icon></button>

                </div>
                

              </div>
              <div class="card-footer">
                <label for="progress">Progreso</label>
                <div class="progress" style="height: 20px;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': taskDoing.progress+'%'}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  <label class="fw-bold mx-1">{{taskDoing.progress}}%</label>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="card border-success">
          <div class="card-header badge bg-success fs-5 text-center">Hecho</div>
          <div *ngIf="done.length==0" class="card-body text-center">
            No hay tareas hechas
          </div>
          <div class="card-body" *ngIf="done.length>0">
            <div *ngFor="let taskDone of done" class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">{{taskDone.name_task}}</h5>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h6 class="card-subtitle mb-2 badge bg-secondary">{{taskDone.name_user }} {{taskDone.lastname_user }}</h6>
                  <h6 *ngIf="taskDone.priority_task == '1'" class="card-subtitle mb-2 badge float-end bg-success">Baja</h6>
                  <h6 *ngIf="taskDone.priority_task == '2'" class="card-subtitle mb-2 badge float-end bg-warning">Media</h6>
                  <h6 *ngIf="taskDone.priority_task == '3'" class="card-subtitle mb-2 badge float-end bg-danger">Alta</h6>                
                </div>
                
                <p class="card-text">{{taskDone.description_task}}</p>
                <p class="card-text">{{taskDone.end_date_task | date:'dd/MM/yy HH:mm'}}</p>
                <hr>
                <label class="fw-bold">Subtareas</label>
                <ul class="list-group list-group-flush" *ngIf="taskDone.subtasks.length > 0">
                  <li class="text-break list-group-item" *ngFor="let subtask of taskDone.subtasks">
                    <div class="form-check" >
                      <input class="form-check-input" [checked]="subtask.state_subtask" disabled type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        {{subtask.name_subtask}}
                      </label>
                    </div>
                        
                  </li>  
                </ul>
                <p *ngIf="taskDone.subtasks.length ==0">No hay subtareas creadas</p>
              </div>
              <div class="card-footer">
                <label for="progress">Progreso</label>
                <div class="progress" style="height: 20px;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': taskDone.progress+'%'}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  <label class="fw-bold mx-1">{{taskDone.progress}}%</label>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Creación de tarea</h5>
        <button type="button" class="btn-close" (click)="clearFormModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nam_task" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nameTask" [(ngModel)]="nameTask" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripción </label>
            <textarea class="form-control" required name="descriptionTask" [(ngModel)]="descriptionTask"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Asinación</label>
            <select class="form-select" name="assignment" [(ngModel)]="assignment" required>
              <option selected value="0">Seleccionar responsable</option>
              <option *ngFor="let user of usersAssignment" [value]="user.id_user">{{user.name_user }} {{user.lastname_user}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="form3Example4" >Prioridad</label>
            <div class="form-outline">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="priorityTask" [(ngModel)]="priorityTask" [value]="1" id="btnradio1"  autocomplete="off">
                <label class="btn btn-outline-success" for="btnradio1">Baja</label>
              
                <input type="radio" class="btn-check" name="priorityTask" [(ngModel)]="priorityTask" [value]="2" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-warning" for="btnradio2">Media</label>

                <input type="radio" class="btn-check" name="priorityTask" [(ngModel)]="priorityTask" [value]="3" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-danger" for="btnradio3">Alta</label>
              </div>
            </div>

          </div>

          <div class="mb-3">
            <label class="form-label">Subtareas</label>
            <div class="row border p-3 m-0">
              <label for="nam_task" class="form-label">Nombre</label>
              <div class="col-10 p-0">
                
                <input type="text" class="form-control" name="subTarea" [(ngModel)]="subTask" required>
              </div>

              <div class="col-2">
                <button class="btn"><fa-icon class="text-primary" (click)="addSubTask()" [icon]="faPlusCircle"></fa-icon></button>
              </div>

              <ul *ngIf="subTasks.length > 0" class="list-group mt-2">
                
                <li class="list-group-item text-break" *ngFor="let subTask of subTasks"> <button class="btn"><fa-icon class="text-danger" (click)="deleteSubTask(subTask.value)" [icon]="faTrash"></fa-icon></button>{{subTask.name}}  
                </li> 
              </ul>
              
            </div>

          </div>

          <div class="mb-3">
            <label class="form-label">Fecha de entrega</label>
            <input type="datetime-local" name="dateEnd" [(ngModel)]="dateEnd" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createTask()">Crear</button>
      </div>
    </div>
  </div>
</div>

<div>

</div>
  

<app-chat></app-chat>