.user-data{
    width: 18rem;
    color: #0d6efd;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.user-data p{
    align-items: center;
    
}

.dropdown-select{
    min-width: 8rem;
}